
############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

##############
## nodejs
##############
node_modules

##############
## private config
##############
.config.json
