
############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

##############
## nodejs
##############
node_modules

##############
# local stuff
##############
lua
data

##############
## private config
##############
.config.json
.vscode/extensions.json
