body {
  padding-top: 50px;
}

li {
  line-height: 2em;       
}

.sortable-ghost {
  opacity: .5;
  background: #C8EBFB;
}

.moveable {
    cursor: move;
}


#itemList i {
	cursor: pointer;
	color: #c00;
	padding-right: 10px;
	font-style: normal;
	}

